---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";

const { frontmatter } = Astro.props;
const formattedPublishDate = new Intl.DateTimeFormat("en-US", {
  month: "short",
  day: "numeric",
  year: "numeric",
}).format(frontmatter.publishDate);
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="blog-post max-w-4xl p-8 flex flex-col m-auto">
    <h1 class="text-primary text-center font-semibold">
      {frontmatter.title}
    </h1>
    <div class="mt-4 mb-8 flex flex-col items-center gap-3">
      <div class="flex flex-wrap justify-center gap-2">
        {frontmatter.tags.map((tag: string) => <Tag tag={tag} isLink />)}
      </div>
      <time
        datetime={frontmatter.publishDate.toISOString()}
        class="text-accent font-semibold"
      >
        {formattedPublishDate}
      </time>
    </div>
    <slot />
  </article>
</BaseLayout>
